.navbar-default {
  background-color: #fff;
  border: 0;
}
.navbar .glyphicon-bookmark {
  position: absolute;
  top: 0;
  font-size: 40px;
  color: rgb(0, 143, 222);
}
.navbar .appname {
  padding-left: 45px;
}
.navbar .settings {
  padding: 8px;
  color: #008fde;
}
.entry-list.table>tbody>tr>td {
  border: 0;
}
.entry-list .users a {
  color: #ff0707;
}
.entry-list .users .U10,
.entry-list .users .O10 {
	font-size: 13px;
	font-weight: bold;
	padding: 0 1px 0 2px;
}
.entry-list .users .U10 {
  background-color: #fff3f3;
  color: #ff8280;
}
.entry-list .users .O10 {
  background-color: #ffe6e6;/*#ffd9d9;/*#ffcbcb;*/
  color: #ff0707;
}
.entry-list .users .suffix {
	font-size: 11px;
	padding: 0;
}
.entry-list .sub {
	display: none;
  color: #bbb;
  font-size: 11px;
}
.entry-list .sub span {
  padding-right: 6px;
}
a {
  color: #007cc7;/*#008fde;*/
}
a:visited {
  color: #bbb;
}
footer {
  padding: 20px;
}
footer .credit {
	color: #888;
  font-size: 11px;
}
footer .credit a {
  color: inherit;
  padding-left: 4px;
}